<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Message</div>
                <div class="panel-body">
                    <form role="form" name="messageForm" ng-submit="ctrl.send()">
                        <div class="form-group">
                            <label for="txtMessage">Message:</label>
                            <input type="text" class="form-control" id="txtMessage" ng-model="ctrl.form.text"
                                   ng-minlength="10" required
                                   placeholder="Enter Message">
                            <span class="help-block">The message is sent as a push notification and appears on the activity stream. This message reaches all users!</span>
                        </div>
                        <div class="form-group">
                            <label for="txtTarget">Target Screen:</label>
                            <input type="text" class="form-control" id="txtTarget" ng-model="ctrl.form.target"
                                   placeholder="app.slide.day">
                            <span class="help-block">Choose a target screen mnemo (or leave empty to use default screen)</span>
                        </div>
                        <div class="form-group">
                            <label for="txtSound">Play Sound:</label>
                            <input type="text" class="form-control" id="txtSound" ng-model="ctrl.form.sound"
                                   placeholder="reminder.mp3">
                            <span class="help-block">Choose a sound to play (or leave empty then no sound will play)</span>
                        </div>
                        <div class="form-group">
                            <label for="txtMail">Restrict to eMails:</label>
                            <textarea class="form-control" id="txtMail" ng-model="ctrl.form.mails"
                                   placeholder="bill@example.com, ann@example.com"></textarea>
                            <span class="help-block">
                                Provide a list of email addresses to send message to particular users.
                                If left empty, all users will receive this message.
                                Email addresses are case-sensitive and can be separated by space, line-feed, comma, semi-colon.
                            </span>
                        </div>
                        <button type="submit" class="btn btn-default"
                                ng-disabled="messageForm.$invalid || messageForm.$pending">Send</button>
                        <div class="alert alert-success" ng-show="ctrl.sentMessage">
                            <strong>Message has been sent:</strong> {{ctrl.sentMessage}}
                            <button type="button" class="close" ng-click="ctrl.sentMessage=''">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
