<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">asdf</h1>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="endpoint in endpoints" ui-sref-active="active"><a ui-sref="data.{{endpoint}}">{{endpoint}}</a></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <ui-view></ui-view>
        </div>
    </div>
</div>
