<table class="table" st-pipe="update" st-table="rows">
    <thead>
        <tr>
            <th st-sort="id">id</th>
            <th st-sort="firstName">First name</th>
            <th st-sort="lastName">Last name</th>
            <th st-sort="email">Email</th>
            <th st-sort="lastActiveAt">Last activity</th>
            <th st-sort="createdAt">Created at</th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th><input st-search="firstName"/></th>
            <th><input st-search="lastName"/></th>
            <th><input st-search="email"/></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-show="!isLoading">
        <tr ng-repeat="row in rows">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.lastActiveAt}}</td>
            <td>{{row.createdAt}}</td>
            <td>
                <button class="btn btn-default btn-xs" ng-click="edit(row)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>
    </tbody>
    <tbody ng-show="isLoading">
        <tr>
            <td colspan="7" class="text-center">Loading ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="7">
            </td>
        </tr>
    </tfoot>
</table>