<div class="modal-header">
    <button type="button" ng-click="$dismiss()" class="close">&times;</button>
    <h4 class="modal-title" ng-if="!admin.id">Add admin</h4>
</div>
<form ng-submit="save($event)">
    <div class="modal-body">
        <div class="alert alert-danger" ng-if="error">
            <pre style="border:none;background:none;margin:none">{{error | json}}</pre>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" ng-model="admin.name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" ng-model="admin.password">
        </div>

        <div class="form-group">
            <label class="control-label">Permissions</label>
            <div class="controls">
                <label class="checkbox" >
                    <input type="checkbox" ng-model="admin.canAdminister">
                    Content Administer
                </label>
                <label class="checkbox" >
                    <input type="checkbox" ng-model="admin.canPublish" >
                    Content Publisher
                </label>
                <label class="checkbox" >
                    <input type="checkbox"  ng-model="admin.canEdit">
                    Content Editor
                </label>
                <label class="checkbox" >
                    <input type="checkbox"  ng-model="admin.canBackofficeAdmin">
                    Backoffice
                </label>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="contentsAclPathList">ACL List (comma separated)</label>
            <div class="col-md-4">
                <textarea class="form-control" id="textcontentsAclPathListarea" name="contentsAclPathList" ng-model="admin.contentsAclPathList"></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
