<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="btn btn-primary btn-sm pull-right" ng-click="add()">Add admin</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped" style="margin-top: 20px">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Permissions</th>
                    <th>ACL</th>
                    <th>Updated at</th>
                    <th></th>
                </tr>
                <tr ng-repeat="user in list">
                    <td>{{$index}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <span ng-show="user.canAdminister"  class="label label-danger">Content Admin</span>
                        <span ng-show="user.canEdit"  class="label label-info">Content Editor</span>
                        <span ng-show="user.canPublish"  class="label label-success">Content Publish</span>
                        <span ng-show="user.canBackofficeAdmin"  class="label label-danger">Backoffice / Admin</span>
                    </td>
                    <td>
                        <ul ng-repeat="acl in user.contentsAclPathList.split(',')">
                            <li>{{acl}}</li>
                        </ul>
                    </td>
                    <td>{{user.updatedAt}}</td>
                    <td><div class="btn btn-xs btn-default" ng-click="edit(user)">edit</div></td>
                </tr>
            </table>
        </div>
    </div>
</div>
