<div class="modal-header">
    <button type="button" ng-click="$dismiss()" class="close">&times;</button>
    <h4 class="modal-title">Add or edit</h4>
</div>
<div class="modal-body">
    <form sf-schema="schema" sf-form="form" sf-model="model" ng-submit="save($event)">
    </form>
</div>
