.module {
    .schema-form-array.secondary {
        h3 {
            font-weight: normal;
            font-size: 21px;
        }

        .schema-form-array.values {
            h3 {
                font-weight: bold;
                font-size: 14px;
            }

            ol.list-group {
                display: flex;
                display: -webkit-flex;
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;

                li.list-group-item {
                    flex: 1 0 25%;
                }
            }
        }
    }
}