<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Main</div>
                <div class="panel-body">
                   happitz Backoffice... mehr infos hier.
                </div>
            </div>
        </div>
    </div>
</div>


