<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="testForm" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                  <div class="col-md-12">
                                    <input id="email" name="email" ng-model="email" type="text" placeholder="Test User's Email" class="form-control input-md">
                                </div>
                            </div>

                        </fieldset>
                        <button class="btn btn-cx btn-primary btn-block" ng-click="testRanking(testForm)">
                            Test ranking
                        </button>
                    </form>
                </div>
            </div>
            <div class="panel panel-default" ng-show="testMode===true">
                Test Mode:
                <div class="panel-body">
                    <ul class="">
                        <li ng-repeat="testItem in testData">
                            {{testItem.type}} ({{testItem.score}})
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Modules
                        <button class="btn btn-xs btn-default pull-right" ui-sref="modules.new"><span class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-xs btn-default pull-right" ng-click="toggleIsActive()" ng-hide="isActive">show active</button>
                        <button class="btn btn-xs btn-default pull-right" ng-click="toggleIsActive()" ng-show="isActive">show inactive</button>
                    </h2>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="module in modules | filter:{isActive:isActive}" ui-sref-active="active">
                        <a ui-sref="modules.edit({id: module.id})">{{module.type}}</a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <ui-view></ui-view>
        </div>
    </div>
</div>
