<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"><div ng-include="'app/tree/menu.html'"></div></div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Export content data</h1>
                </div>
                <div class="panel-body">
                    <form ng-submit="export()">
                        <div class="form-group">
                            <p class="help-block">To export the content of this server, click the export button below.  You'll be presented a JSON string for importing on any other server.</p>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" name="legacy" ng-model="model.legacy"> Legacy: export old format (German only)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-disabled="state === 'loading'">Export</button>
                            <span ng-show="state === 'loading'">Loading...</span>
                            <span ng-show="state === 'done'">Successfully exported</span>
                            <span ng-show="state === 'failed'">Export failed, please try again</span>
                        </div>
                        <div class="form-group" ng-if="state === 'done'">
                            <label for="modelData">Exported JSON string</label>
                            <textarea class="form-control" id="modelData" rows="15" ng-model="model.data" required></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
