<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"><div ng-include="'app/tree/menu.html'"></div></div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Import content data</h1>
                </div>
                <div class="panel-body">
                    <form ng-submit="import()">
                        <div class="form-group">
                            <label for="fileType">File type</label>
                            <select class="form-control" name="fileType" id="fileType" ng-options="type as text for (type, text) in possibleFileTypes" ng-model="model.fileType" required></select>
                        </div>
                        <div class="form-group">
                            <div class="pull-right alert alert-warning">
                                <b>INSERT</b> will only add keys without deletion or checking<br>
                                <b>TRUNCATE then INSERT</b> will <code>truncate</code> the content before importing
                            </div>
                            <label>Append or overwrite?</label>
                            <div>
                                <div class="radio-inline">
                                    <label><input type="radio" name="importType" value="append" ng-model="model.importType"> INSERT (only new keys)</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input type="radio" name="importType" value="upsert" ng-model="model.importType"> INSERT / UPDATE (all keys updated)</label>
                                </div>
                                <div class="radio-inline">
                                    <label><input type="radio" name="importType" value="overwrite" ng-model="model.importType"> TRUNCATE then INSERT</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modelData">Copy and paste a JSON string</label>
                            <textarea class="form-control" id="modelData" rows="15" ng-model="model.data" required></textarea>
                        </div>
                        <div class="alert alert-warning" ng-show="model.fileType === 'single' &amp;&amp; model.importType === 'overwrite'">
                            Bear in mind that <code>TRUNCATE then INSERT</code> mode <b>deletes all existing keys</b>!  Since you're importing an old format, you'll loose any English translation.
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-disabled="state === 'loading'">Import</button>
                            <span ng-show="state === 'loading'">Processing...</span>
                            <span ng-show="state === 'done'">Successfully imported</span>
                            <span ng-show="state === 'failed'">Import failed, please try again</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
