<div ng-show="user.canAdminister" class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Actions</h1>
    </div>
    <div class="list-group">
        <a class="list-group-item" ui-sref="tree" ui-sref-active-eq="active">Manage Content</a>
        <a class="list-group-item" ui-sref="tree.import" ui-sref-active="active">Import content</a>
        <a class="list-group-item" ui-sref="tree.export" ui-sref-active="active">Export content</a>
    </div>
</div>
