.wrapper{
    width: 100%;
    height: 250px;
    
    background: white;
    overflow-x:scroll;
    overflow-y: hidden;
}

.content{
   width: auto;
   white-space:nowrap; 
}

.item{
    display: inline-block;
    background: white;
    
    width: 300px;
    height: 100px;
}