<div ng-include="'components/navbar/navbar.html'"></div>
<!--<pageslide ng-show="false" ps-class="well" ps-custom-top="70px" ps-speed="0.25" ps-open="node.showStatus">-->
    <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
            <!--<h1 class="panel-title">Content Status</h1>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
            <!--<form role="form">-->
                <!--<div class="form-group">-->
                    <!--<label>created at:</label>-->
                    <!--<input type="text" class="form-control" ng-model="nodeInfo.created_at" disabled="disabled" placeholder="created at">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>created by:</label>-->
                    <!--<input type="text" class="form-control" ng-model="nodeInfo.created_by" disabled="disabled" placeholder="created by">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>modified at:</label>-->
                    <!--<input type="text" class="form-control" ng-model="nodeInfo.updated_at" disabled="disabled" placeholder="modified at">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>modified by:</label>-->
                    <!--<input type="text" class="form-control" ng-model="nodeInfo.updated_by" disabled="disabled" placeholder="modified by">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>published at:</label>-->
                    <!--<input type="text" class="form-control" ng-model="nodeInfo.published_at" disabled="disabled" placeholder="published at">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>published by:</label>-->
                    <!--<input type="text" class="form-control" ng-model="nodeInfo.published_by" disabled="disabled" placeholder="published by">-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</pageslide>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div ng-include="'app/tree/menu.html'"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Content Filter</h1>
                </div>
                <div class="panel-body">
                    <!--<input type="text" ng-model="predicate" class="ng-valid ng-dirty"> -->
                    <input type="text" ng-keyup="$event.keyCode == 13 && getExpandedFilteredTree()" ng-model="dbFilter" >
                    <br/> Status:
                    <select ng-model="dbState">
                        <option value="0" selected >Alle</option>
                        <option value="2">bitte bearbeiten</option>
                        <option value="1">in Bearbeitung</option>
                        <option value="4">warten auf Freigabe</option>
                        <option value="3">Freigegeben</option>
                    </select>
                    <br/>
                    <button ng-show="true" class="btn btn-primary" ng-click="getExpandedFilteredTree()">filter</button>
                    <button ng-show="true" class="btn " ng-click="clearFilter()">clear</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="dropdown pull-right">
                        <button class="btn btn-xs" ng-click="setExpandedAll()"><span class="glyphicon  glyphicon-folder-open"></span></button>
                        <button class="btn btn-xs" ng-click="setCollapsedAll()"><span class="glyphicon  glyphicon-folder-close"></span></button>
                    </div>
                    <h1 class="panel-title">Content Navigation</h1>
                </div>
                <div class="panel-body">
                    <treecontrol class="tree-classic" expanded-nodes="expandedNodes" tree-model="system.treeData" filter-expression="predicate" filter-comparator="comparator" options="myTreeOptions" on-selection="showSelected(node)" selected-node="node1">
                      <i style="font-size:75%;" ng-style="{color:getNodeStatus(node)}" class="fa fa-square"></i> <span context-menu="menuOptions" >{{node.key}}</span>
                    </treecontrol>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <table ng-show="node.path.length > 0" class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      <strong>Key: {{node.path}}</strong>
                    </th>
                  </tr>
                    <tr>
                      <th width="20%">Key</th>
                      <th style="min-width:20%" ng-repeat="entry in node.values" >{{entry.language}}</th>
                        <th width="10%">Bearbeitungs-Kommentar</th>
                      <th width="10%">Action</th>
                    </tr>

                    <!-- node -->
                    <tr>
                      <td>
                          <div class="input-group">
                              <span class="input-group-addon"><i style="font-size:75%;float:left;margin-right:3px;" ng-style="{color:getNodeStatus(node)}" class="fa fa-square"></i></span>
                              <input ng-show="user.canAdminister" class="form-control input-sm" ng-model="node.key" ng-change="node.changed=true" >
                              <input ng-show="!user.canAdminister" class="form-control input-sm" ng-model="node.key" ng-change="node.changed=true" readonly>
                          </div>
                      </td>
                      <td ng-repeat="entry in node.values" >
                          <textarea class="form-control input-sm" msd-elastic ng-model="entry.content" ng-change="node.changed=true"></textarea>
                          <span class="badge pull-right">{{entry.content.length}}</span>
                      </td>
                      <td>
                          <textarea class="form-control input-sm" msd-elastic ng-model="node.editor_comment" ng-change="node.changed=true"></textarea>
                      </td>
                      <td nowrap>
                          <button ng-show="node.changed" class="btn btn-xs btn-primary" ng-click="saveListNode(node)"><span title="save" class="glyphicon glyphicon-save"></span></button>
                          <button ng-show="(node.state==1 || node.state==4)&&user.canPublish" class="btn btn-xs btn-success" ng-click="publishNode(node)"><span title="publish" class="glyphicon glyphicon-share-alt"></span></button>
                          <button ng-show="node.state==1" class="btn btn-xs btn-info" ng-click="readyNode(node)"><span title="ready to publish" class="glyphicon glyphicon-ok"></span></button>
                          <!--<button class="btn btn-xs btn-default" ng-click="getStatus()"><span class="glyphicon glyphicon-list"></span></button>-->
                          <!--<button class="btn btn-xs btn-success" ng-click="getStatus()"><span title="publish with sub-tree" class="glyphicon glyphicon-tree-conifer"></span></button>-->
                          <button ng-show="node.state!=2" class="btn btn-xs btn-warning" ng-click="markNode(node)"><span title="mark for edit" class="glyphicon glyphicon-check"></span></button>

                      </td>
                    </tr>

                    <!-- loop kids -->
                    <tr ng-repeat="nodeentry in node.children" ng-if="nodeentry.leaf">
                      <td style="white-space: nowrap">
                          <div class="input-group">
                            <span class="input-group-addon"><i style="font-size:75%;float:left;margin-right:3px;" ng-style="{color:getNodeStatus(nodeentry)}" class="fa fa-square"></i></span>
                          <input ng-show="user.canAdminister" class="form-control input-sm" ng-model="nodeentry.key" ng-change="nodeentry.changed=true" >
                          <input ng-show="!user.canAdminister" class="form-control input-sm" ng-model="nodeentry.key" ng-change="nodeentry.changed=true" readonly>
                          </div>
                      </td>
                      <td ng-repeat="langcontent in nodeentry.values" >
                          <textarea class="form-control input-sm" msd-elastic ng-model="langcontent.content" ng-change="nodeentry.changed=true"></textarea>
                          <span class="badge pull-right">{{langcontent.content.length}}</span>
                      </td>
                        <td>
                            <textarea class="form-control input-sm" msd-elastic ng-model="nodeentry.editor_comment" ng-change="nodeentry.changed=true"></textarea>
                        </td>
                      <td nowrap>
                        <button ng-show="nodeentry.changed" class="btn btn-xs btn-primary" ng-click="saveListNode(nodeentry)"><span title="save" class="glyphicon glyphicon-save"></span></button>
                        <button ng-show="(node.state==1 || node.state==4)&&user.canPublish" class="btn btn-xs btn-success" ng-click="publishNode(nodeentry)"><span title="publish" class="glyphicon glyphicon-share-alt"></span></button>
                        <button ng-show="nodeentry.state==1" class="btn btn-xs btn-info" ng-click="readyNode(nodeentry)"><span title="read to publish" class="glyphicon glyphicon-ok"></span></button>
                          <!--<button class="btn btn-xs btn-default" ng-click="getStatus()"><span class="glyphicon glyphicon-list"></span></button>-->
                          <button ng-show="nodeentry.state!=2" class="btn btn-xs btn-warning" ng-click="markNode(nodeentry)"><span title="mark for edit" class="glyphicon glyphicon-check"></span></button>
                      </td>
                    </tr>
                  </thead>
                </table>


                <div ng-show="node.isVisible">
                    <!--
                    <div ng-show="isNode()" class="panel-body">
                        <div style="width: 100%">
                            <label>Name:</label>
                            <input class="form-control" ng-model="node.key">
                            <div style="width: 350px; display: inline-block; padding: 10px" ng-repeat="entry in node.values">
                                <div class="well">language: {{entry.language}}

                                    <div contenteditable ng-model="entry.content">{{entry.content}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->

                    <!--Node List -->
                    <!--
                    <div ng-hide="isNode()" class="panel-body">
                        <div ng-repeat="entry in node.children">
                            <div ng-show="entry.leaf" class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">
                                        <i style="color: {{getNodeStatus(entry)}}" class="fa fa-square"></i>
                                        {{entry.key}}
                                    </h1>
                                </div>
                                <div class="panel-body">
                                      <label>Name:</label>
                                      <input class="form-control" ng-model="entry.key"><br>
                                    <div class="wrapper light-olive">
                                        <div class="content">
                                            <div class="item" ng-repeat="langcontent in entry.values">
                                                <div class="well">language: {{langcontent.language}}
                                                    <textarea class="form-control" rows="8" id="comment" ng-model="langcontent.content"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success" ng-click="saveListNode(entry)">save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <!--<div ng-show="isNode()" class="panel panel-default">-->
                        <!--<div class="panel-body">-->
                            <!--<button class="btn btn-success" ng-click="saveNode(node1)">save</button>-->
                           <!--&lt;!&ndash; <button class="btn btn-default" ng-click="node.showHistory = !node.showHistory">history</button>&ndash;&gt;-->
                            <!--<button class="btn btn-default" ng-click="getStatus()">status</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div collapse="node.showHistory">-->
                        <!--<div class="panel panel-default">-->
                            <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                            <!--<div class="panel-heading">-->
                                <!--<h1 class="panel-title">Content History</h1>-->
                            <!--</div>-->
                            <!--<div class="panel-body">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <ul ng-repeat="nodeentry in node.children" ng-if="!nodeentry.leaf">
                <li>subfolder: <a href="#" ng-click="showSelected(nodeentry)">{{nodeentry.key}}</a><span ng-show="nodeentry.values[0].content"> - <i>{{nodeentry.values[0].content}}</i></span></li>
            </ul>
        </div>
    </div>
</div>
