<div class="alert alert-success" ng-show="saved">
Stuff was saved. Yay!
</div>
<div class="alert alert-danger" ng-show="error">
    <button type="button" class="close" ng-click="hideError()">
        <span aria-hidden="true">&times;</span>
    </button>
    <pre style="background:transparent;border:none">{{error | json}}</pre>
</div>
<form class="module" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="save($event)">
</form>
