<div class="form-horizontal" ng-class="{'has-error': hasError()}">
    <div class="form-group">
        <label class="control-label col-sm-3">Parameter</label>
        <div class="col-sm-9">
            <select
                class="form-control"
                ng-model="$$value$$.parameter"
                ng-options="key as key for (key, value) in form.parameters"
            >
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-3">
            <select
                class="form-control"
                ng-model="$$value$$.operator">

                <option value="in">One of</option>
                <option value="gt">Greater than</option>
                <option value="lt">Less than</option>
                <option value="between">Between</option>
            </select>
        </div>
        <div class="col-sm-9" ng-switch="$$value$$.operator">
            <select
                class="form-control"
                multiple
                ng-model="$$value$$.values"
                ng-options="item for item in form.parameters[$$value$$.parameter].values"
                ng-switch-when="in"
            >
            </select>

            <input type="text" class="form-control" ng-model="$$value$$.value" ng-switch-when="gt">

            <input type="text" class="form-control" ng-model="$$value$$.value" ng-switch-when="lt">

            <div class="row" ng-switch-when="between">
                <div class="col-xs-5">
                    <input type="text" class="form-control" ng-model="$$value$$.value.from" ng-switch-when="between">
                </div>
                <div class="col-xs-2">and</div>
                <div class="col-xs-5">
                    <input type="text" class="form-control col-xs-5" ng-model="$$value$$.value.to" ng-switch-when="between">
                </div>
            </div>
        </div>
    </div>

    <span class="help-block" sf-message="form.description"></span>
</div>


</div>
