<div class="auth login">
    <form ng-submit="submit()">
        <div class="form-group" ng-class="{'has-error':error}">
            <label for="name" class="control-label">Username</label>
            <input type="text" name="name" placeholder="Username" class="form-control" ng-model="form.name">
        </div>

        <div class="form-group" ng-class="{'has-error':error}">
            <label for="password" class="control-label">Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control" ng-model="form.password">
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>